.header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    color: white;
    padding: 0 30px;
  }
  
  .header ul {
      display: flex;
      list-style: none;
    }
    
    .header li a {  
      color: white;
      padding: 30px;
      text-decoration: none;
    }
  
    .headerh3 {
      position: absolute;
      left: 20px;
    }